.DS_Store
#ignore this configuration if not working add this "git rm -r  --cached ." "git add ." "git commit -m 'fixed'"
assets/python/__pycache__/
assets/python/config.py
application/config/database.php
application/config/config.php
application/third_party/mpdf/qrcode/*
old/*
application/db/*
admin/*
logs/*
php_errors.log

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/old
